@using Hooli.MySql;
@using System.Data;
@model Hooli.Models.SoftwareModel
@{
    ViewBag.Title = "Index";
}

<h2>Active Software</h2>
@{
    DBConnect db = new DBConnect();
    string selectQueryString = "select * from Software";
}


    <table>
        <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th>Description</th>
            <th>Download</th>
        </tr>
        @foreach(DataRow row in db.GetData(selectQueryString).Rows)
          {
              <tr>
                  <td>@row["softwareName"]</td>
                  <td>@row["date_added"]</td>
                  <td>@row["description"]</td>
                  <td>@Html.ActionLink("Download", "Download", "ActiveSoftware", new { id = row["id"] }, null)
              </tr>
          }
    </table>