@using Hooli.MySql;
@using System.Data;
@model IEnumerable<Hooli.Models.CommentModel>
@{
    ViewBag.Title = "Index";
}

<h2>Comments for: softwareName</h2>

<style>
   #commenttable .cellright {text-align:right}
</style>

@for(int i = 1; i < 5; i++)
{
<table width="100%" id="commenttable" bgcolor="#FFFFF">
<tr>
    <th>user</th>
    <td>date</td>
    <td class="cellright">rating</td>
</tr>
    <tr>
        <td> text</td>
    </tr>

</table>
<br />
}